.home_cotainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
}

.home_cotainer h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;

}

.home_cotainer span {
    columns: #ffbb33;
    padding: 0 .2em;
    background-color: #ffbb33;
}

.home_cotainer p {
    margin-bottom: 350px;
    margin: 2em 0;
}

.home_cotainer a {
    margin-top: 100px;
    background-color: darkcyan;
}