@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

* {

  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html,
#root {
  background-color: #efefef;
  height: 100%;
}

a,
a:hover,
a:visited {
  color: unset;
  text-decoration: none;
}

.prologo-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

#home {
  padding: 40px 10px;
}